<md-card>
    <md-card-title>Ný Stöð</md-card-title>
    <md-card-content>
      <select placeholder="Landshluti" #place class="my-select">
        <option *ngFor="let p of landshlutar" >{{ p.name }}</option>
      </select>
      <select placeholder="Tegund" #type class="my-select">
        <option *ngFor="let t of tegund" [value]="t.name">{{ t.name }}</option>
      </select>
      <md-input-container>
        <input mdInput #name placeholder="Stöðvarnafn" type="text">
      </md-input-container>
      <md-input-container>    
        <input mdInput #number placeholder="Stöðvanúmer" type="number">
      </md-input-container>    
      <md-input-container>  
        <input mdInput #location placeholder="Staðsetning" type="text">
      </md-input-container>  
      <md-input-container>    
        <input mdInput #altitude placeholder="Hæð yfir sjó" type="number">
      </md-input-container>    
      <md-input-container>    
        <input mdInput #since placeholder="Upphaf veðurathuguna" type="number">
      </md-input-container>
      <select placeholder="Eigandi stöðvar" #owner class="my-select">
        <option *ngFor="let o of eigendur" [value]="o.name">{{ o.name }}</option>
      </select>
    </md-card-content>
    <button type="submit" md-raised-button (click)="onSubmit(place,name,type,number,location,altitude,since,owner)">+</button>
</md-card>