.fam {
    text-align: center;
}
.mother {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end; 
    height: auto;
}
.child {
    margin-bottom: 20px;
    padding: 3em;           
    overflow: hidden;
    align-self: flex-start;
    transition: margin 300ms;
}
.child:hover{
    opacity: 0.9;
    cursor: pointer;
}
.noticeable{
    color: red;
}
.heading{
    font-size: 35px;
    font-family: 'Merriweather', serif;    
    margin: 0 0;
    color: grey;
}
.sub-heading{
    font-size: 15px;
    font-family: 'Merriweather', serif;    
    margin: 0 10px;
    color: grey;
}
.weather-data{
    font-size: 24px;
    margin-bottom: -20px;
}
.basic-info{
    margin-bottom: -40px;
}