<div class="mother">
    <md-card class="child no-style" (click)="loginGoogle()">
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/vedur3000-d017f.appspot.com/o/social%2FGoogle%20Plus.png?alt=media&token=fad6d464-e51e-4756-80d3-ffe2c658396c" />    
      <md-card-subtitle>Login with Google</md-card-subtitle>
    </md-card>
    <md-card class="child no-style" (click)="loginFacebook()">
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/vedur3000-d017f.appspot.com/o/social%2Ffacebook.png?alt=media&token=71479d5e-9620-4123-af53-78505d02c3d6" />    
      <md-card-title>Not Active</md-card-title>
      <md-card-subtitle>Login with Facebook</md-card-subtitle>
    </md-card>
</div>
