.fam {
    padding: 3em;
    text-align: center;
}
.mother {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end; 
    height: auto;
}
.child {
    padding: 3em;
    margin: 0 40px;
    overflow: hidden;
    align-self: flex-start;
    transition: margin 1300ms;
    max-width: 220px;
}
.child:hover{
    cursor: pointer;
    opacity: 0.7;
}