<div class="row" *ngIf="stationService.previewStationData">
  <div class="container col-md-6">
    <md-card>
      <md-card-title>
        <b class="heading">{{ stationService.previewStationData.name }}</b>
        <b class="sub-heading" mdTooltip="Hæð yfir sjávarmáli">{{ stationService.previewStationInfo.altitude }} m</b>
      </md-card-title>
      <md-card-content *ngIf="stationService.previewStationData.valid == 1">
        {{ stationService.previewStationData.time | date:'HH:mm EEEE dd.MMM'}} <br />
        <span class="weather-data row">
          <div class="col-sm-2">
              {{ stationService.previewStationData.temp }}°c
          </div>
          <div class="col-sm-2"><!--Wind Meter Start-->
            <div style="width:100px;height:100px" class="compass" mdTooltip="{{ stationService.previewStationData.directionDetailed }}">
              <div style="font-size:28px" class="direction">
                <p>
                  {{ stationService.previewStationData.direction }}
                  <span *ngIf="stationService.previewStationData.direction != 'Logn'">{{ stationService.previewStationData.wind }} m/s</span>
                </p>
              <img class="avatar" md-card-avatar  [src]="stationService.previewStationInfo.image">
              </div>
              <div class="arrow {{ stationService.previewStationData.direction }}"></div>
            </div>
          </div> <!--Wind Meter End-->
        </span>
      </md-card-content>
      <md-card-content *ngIf="stationService.previewStationData.valid != 1">
        Gögn ekki tiltæk í augnablikinu
      </md-card-content>
      <md-card-subtitle *ngIf="stationService.previewStationInfo">
        {{ stationService.previewStationInfo.owner }} -
        {{ stationService.previewStationInfo.since }} <br />
        {{ stationService.previewStationInfo.type }} -
        {{ stationService.previewStationInfo.location }}
      </md-card-subtitle>
      <md-card-actions>
        <button md-raised-button (click)="addToCollection()">Bæta í Safn</button>
        <button md-raised-button (click)="clearPreviewStation()" >Loka</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="container col-md-6">
    <md-card>
      <div id="mapid"></div>
    </md-card>
  </div>
</div>