<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Veður3000</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Heim</a></li>
      <li><a routerLink="/selectStation">Stöðvar</a></li>
      <li><a routerLink="/admin">Admin</a></li>
    </ul>
    <button *ngIf="!accountService.isAuthenticated" (click)="openLogin()" type="button" class="btn btn-default navbar-btn pull-right">Innskrá</button>
    <button [mdMenuTriggerFor]="account" *ngIf="accountService.isAuthenticated" type="button" class="btn btn-default navbar-btn pull-right">
      {{accountService.displayName}}
    </button>
    <md-menu #account="mdMenu">
      <button md-menu-item (click)="logout()">Útskrá</button>
      <button md-menu-item>Item 2</button>
    </md-menu>
  </div>
</nav>